---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/analyze.php?key=<API_KEY>&qid=95665220
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"Processed ip: 165.22.91.192","data":{"iid":"53929","type":"domain","indicator":"pulsedive.com","risk":"none","risk_recommended":"none","manualrisk":0,"retired":"No
        recent activity","stamp_added":"2017-10-04 01:20:55","stamp_updated":"2019-10-25
        20:56:06","stamp_seen":"2019-10-17 00:06:18","stamp_probed":"2019-10-25 20:56:06","stamp_retired":null,"recent":0,"redirects":{"to":[{"iid":642010,"indicator":"https:\/\/pulsedive.com\/"},{"iid":649248,"indicator":"https:\/\/pulsedive.com"}]},"riskfactors":[{"rfid":44,"description":"registration
        details hidden","risk":"unknown"}],"attributes":{"port":["443","80"],"protocol":["HTTP","HTTPS"],"technology":["Font
        Awesome","Google Analytics","Google Font API","jQuery","PHP","Stripe"]},"domain":null,"domainiid":null,"properties":{"cookies":[{"pid":34560125,"stamp_seen":"2019-10-25
        20:56:04","name":"__stripe_mid","value":"ce686c8c-755a-4c27-97ef-b458690cbb1f","latest":0},{"pid":34463654,"stamp_seen":"2019-10-24
        02:51:52","name":"__stripe_mid","value":"dc2b7f25-3dcf-434e-8edc-0ee418344463","latest":0},{"pid":34416759,"stamp_seen":"2019-10-23
        06:57:46","name":"__stripe_mid","value":"0636e5f1-1132-4733-b1b6-bbe3e84ba092","latest":0},{"pid":34416752,"stamp_seen":"2019-10-23
        06:57:25","name":"__stripe_mid","value":"49d98e59-219a-4231-b951-b6d9e0f2e6ab","latest":0},{"pid":34120473,"stamp_seen":"2019-10-14
        19:45:54","name":"__stripe_m[...]
