---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?key=<API_KEY>&tname=Zeus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tid":1,"threat":"Zeus","category":"malware","risk":"high","description":"","wikisummary":"Zeus,
        ZeuS, or Zbot is a Trojan horse malware package that runs on versions of Microsoft
        Windows. While it can be used to carry out many malicious and criminal tasks,
        it is often used to steal banking information by man-in-the-browser keystroke
        logging and form grabbing.","wikireference":"https:\/\/en.wikipedia.org\/wiki\/Zeus_(malware)","retired":null,"stamp_added":"2017-09-27
        18:11:38","stamp_updated":"2018-07-06 19:02:51","stamp_seen":"2018-07-06 19:02:13","stamp_retired":null,"updated_last_domain":"2018-07-18
        00:00:00","comments":[],"othernames":["Zbot"],"techniques":[],"news":[{"title":"2018-07-20
        - Emotet infections with Zeus Panda Banker and Trickbot (gtag: del34)","channel":"Malware-Traffic-Analysis.net
        - Blog Entries","icon":"https:\/\/www.malware-traffic-analysis.net\/favicon.ico","link":"https:\/\/www.malware-traffic-analysis.net\/2018\/07\/20\/index.html","stamp":"2018-07-21
        01:34:00"},{"title":"2018-07-19 - Hancitor infection traffic with AZORult
        and Zeus Panda Banker","channel":"Malware-Traffic-Analysis.net - Blog Entries","icon":"https:\/\/www.malware-traffic-analysis.net\/favicon.ico","link":"https:\/\/www.malware-traffic-analysis.net\/2018\/07\/19\/index2.html","stamp":"2018-07-20
        02:56:00"},{"title":"2018-07-19 - Emotet infection traffic with Zeus Panda
        Banker","channel":"Malware-Traffic-Analysis.net - Blog Entries",[...]
