---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?indicator=pulsedive.com&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"iid":53929,"type":"domain","indicator":"pulsedive.com","risk":"none","risk_recommended":"none","manualrisk":0,"retired":"No
        recent activity","stamp_added":"2017-10-04 01:20:55","stamp_updated":"2019-10-25
        20:56:06","stamp_seen":"2019-10-17 00:06:18","stamp_probed":"2019-10-25 20:56:06","stamp_retired":null,"recent":0,"redirects":{"to":[{"iid":642010,"indicator":"https:\/\/pulsedive.com\/"},{"iid":649248,"indicator":"https:\/\/pulsedive.com"}]},"riskfactors":[{"rfid":44,"description":"registration
        details hidden","risk":"unknown"}],"attributes":{"port":["443","80"],"protocol":["HTTP","HTTPS"],"technology":["Font
        Awesome","Google Analytics","Google Font API","jQuery","PHP","Stripe"]},"properties":{"cookies":{"__stripe_sid":"ec98a15c-c593-4d83-99cb-c62daf2ada7b","_ga":"GA1.2.2039502432.1572036958","_gat_gtag_UA_108145347_2":"1","_gid":"GA1.2.1351840100.1572036958","PHPSESSID":"f9c9a3657375eca1afa2f6c90acf51fb"},"dns":{"A":"45.55.106.210","MNAME":"ns-cloud-d1.googledomains.com","MX":["ASPMX.L.GOOGLE.com","alt3.aspmx.l.google.com","ALT2.ASPMX.L.GOOGLE.com","ALT1.ASPMX.L.GOOGLE.com"],"NS":["ns-cloud-d3.googledomains.com","ns-cloud-d1.googledomains.com","ns-cloud-d4.googledomains.com"],"RNAME":"cloud-dns-hostmaster@google.com","SOA":"ns-cloud-d1.googledomains.com.
        cloud-dns-hostmaster.google.com. 66 21600 3600 259200 300","TXT":"v=spf1 include:_spf.google.com
        ~all"},"geo":{"address":"96 Mowat Ave","city":"Toronto","country":"Canada","countrycode":"CA","org":"Contact
        Privacy Inc. Customer 124912322","region":"ON","zip":"M4K 3K1"},"http":{"++code":"200","++status":"OK","Cache-Control":"max-age=0,
        no-cache, no-store, must-revalidate","Connection":"Keep-Alive","Content-Encoding":"gzip","Content-Length":"15540","Content-Type":"text\/html;
        charset=UTF-8","date":"Fri, 25 Oct 2019 20:55:57 GMT","Keep-Alive":"timeout=5,
        max=100","Pragma":"no-cache","Server":"Apache","set-cookie":"PHPSESSID=f9c9a3657375eca1afa2f6c90acf51fb;
        expires=Fri, 01-Nov-2019 20:55:57 GMT; Max-Age=604800; path=\/","Strict-Transport-Security":"max-age=31536000;
        includeSubDomains","Vary":"Accept-Encoding","X-Content-Type-Options":"nosniff","X-Frame-Options":"SAMEORIGIN","X-Mod-Pagespeed":"1.13.35.2-0","X-XSS-Protection":"1;
        mode=block"},"meta":{"++title":"Cyber Threat Intelligence - Pulsedive","author":"Pulsedive
        LLC","charset":"UTF-8","content-type":"text\/html; charset=utf-8","description":"Pulsedive
        is a free threat intelligence platform that leverages open-source threat intelligence
        (OSINT) feeds and user submissions to deliver actionable intelligence.","keywords":"cyber
        threat intelligence feeds,cyber threat intelligence dashboard,cyber threat
        dashboard,osint threat intelligence,threat,threat intel,threat intelligence,cyber
        threat intelligence,cybersecurity,threat,threat protection,unified threat
        management,network security,information security,cyber,it security,free threat
        intelligence,open source threat intelligence platform,threat intelligence
        platform,threat intelligence feeds,reduce false positives,vet threat intelligence,ioc","og:description":"Pulsedive
        is a free threat intelligence platform that leverages open-source threat intelligence
        (OSINT) feeds and user submissions to deliver actionable intelligence.","og:image":"https:\/\/pulsedive.com\/img\/promotional.png?v=3.4.91","og:title":"Cyber
        Threat Intelligence - Pulsedive","og:url":"https:\/\/pulsedive.com","twitter:card":"summary_large_image","twitter:creator":"@netbroom","twitter:description":"Pulsedive
        is a free threat intelligence platform that leverages open-source threat intelligence
        (OSINT) feeds and user submissions to deliver actionable intelligence.","twitter:image":"https:\/\/pulsedive.com\/img\/promotional.png?v=3.4.91","twitter:site":"@pulsedive","twitter:title":"Cyber
        Threat Intelligence - Pulsedive","viewport":"width=device-width, initial-scale=1"},"ssl":{"domain":"pulsedive.com","expires":"2020-01-01
        06:01:22","issuer":"\/C=US\/O=Let''s Encrypt\/CN=Let''s Encrypt Authority
        X3","org":"Let''s Encrypt Authority X3","subject":"\/CN=pulsedive.com","valid":"2019-10-03
        06:01:22","version":"v3"},"whois":{"++abuse":"registrar-abuse@google.com","++email":"urb6dpdrhxz4@contactprivacy.email","++expires":"2019-11-11
        00:00:00","++phone":"+1.4165385487","++privacy":"1","++registered":"2016-11-11
        00:00:00","++registrant":"Contact Privacy Inc. Customer 124912322","++registrar":"Google
        LLC","++updated":"2018-11-12 00:00:00","Admin City":"Toronto","Admin Country":"CA","Admin
        Email":"urb6dpdrhxz4@contactprivacy.email","Admin Name":"Contact Privacy Inc.
        Customer 124912322","Admin Organization":"Contact Privacy Inc. Customer 124912322","Admin
        Phone":"+1.4165385487","Admin Postal Code":"M4K 3K1","Admin State\/Province":"ON","Admin
        Street":"96 Mowat Ave","Creation Date":"2016-11-11T21:18:19Z","DNSSEC":"unSigned","Domain
        Name":"pulsedive.com","Domain Status":"ok https:\/\/www.icann.org\/eppRegistry
        Registrant ID:","https":"\/\/www.icann.org\/resources\/pages\/epp-status-codes-2014-06-16-en","Name
        Server":["ns-cloud-d1.googledomains.com","NS-CLOUD-D2.GOOGLEDOMAINS.COM","NS-CLOUD-D4.GOOGLEDOMAINS.COM"],"Please
        register your domains at":"https:\/\/domains.google.com\/","Registrant City":"Toronto","Registrant
        Country":"CA","Registrant Email":"urb6dpdrhxz4@contactprivacy.email","Registrant
        Name":"Contact Privacy Inc. Customer 124912322","Registrant Organization":"Contact
        Privacy Inc. Customer 124912322","Registrant Phone":"+1.4165385487","Registrant
        Postal Code":"M4K 3K1","Registrant State\/Province":"ON","Registrant Street":"96
        Mowat Ave","Registrar":"Google LLC","Registrar Abuse Contact Email":"registrar-abuse@google.com","Registrar
        Abuse Contact Phone":"+1.8772376466","Registrar IANA ID":"895","Registrar
        Registration Expiration Date":"2019-11-11T21:18:19Z","Registrar URL":"https:\/\/domains.google.com","Registrar
        WHOIS Server":"whois.google.com","Registry Domain ID":"2073459391_DOMAIN_COM-VRSN","Tech
        City":"Toronto","Tech Country":"CA","Tech Email":"urb6dpdrhxz4@contactprivacy.email","Tech
        Name":"Contact Privacy Inc. Customer 124912322","Tech Organization":"Contact
        Privacy Inc. Customer 124912322","Tech Phone":"+1.4165385487","Tech Postal
        Code":"M4K 3K1","Tech State\/Province":"ON","Tech Street":"96 Mowat Ave","Updated
        Date":"2018-11-12T05:02:16Z","URL of the ICANN WHOIS Data Problem Reporting
        System":"http:\/\/wdprs.internic.net\/"}}}'
  recorded_at: Sun, 10 Nov 2019 09:00:23 GMT
recorded_with: VCR 5.0.0
