---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?key=<API_KEY>&tid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tid":1,"threat":"Zeus","category":"malware","risk":"high","description":"","wikisummary":"Zeus,
        ZeuS, or Zbot is a Trojan horse malware package that runs on versions of Microsoft
        Windows. While it can be used to carry out many malicious and criminal tasks,
        it is often used to steal banking information by man-in-the-browser keystroke
        logging and form grabbing.","wikireference":"https:\/\/en.wikipedia.org\/wiki\/Zeus_(malware)","retired":null,"stamp_added":"2017-09-27
        18:11:38","stamp_updated":"2018-07-06 19:02:51","stamp_seen":"2019-06-30 17:30:09","stamp_retired":null,"updated_last_domain":"2019-06-28
        00:00:00","othernames":["Zbot"],"news":[{"title":"2018-10-22 - Quick post:
        Hancitor malspam - No Zeus Panda Banker... just Pony","channel":"Malware-Traffic-Analysis.net
        - Blog Entries","icon":"https:\/\/www.malware-traffic-analysis.net\/favicon.ico","link":"https:\/\/www.malware-traffic-analysis.net\/2018\/10\/22\/index.html","stamp":"2018-10-22
        22:08:00"},{"title":"2018-10-10 - Quick post: Hancitor infection with Zeus
        Panda Banker","channel":"Malware-Traffic-Analysis.net - Blog Entries","icon":"https:\/\/www.malware-traffic-analysis.net\/favicon.ico","link":"https:\/\/www.malware-traffic-analysis.net\/2018\/10\/10\/index2.html","stamp":"2018-10-11
        21:09:00"},{"title":"2018-10-09 - Hancitor infection with Zeus Panda Banker","channel":"Malware-Traffic-Analysis.net
        - Blog Entries","icon":"https:[...]
