---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=links&iid=2&key=<API_KEY>&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Active DNS":[{"iid":3,"indicator":"187.191.98.202","type":"ip","risk":"none","stamp_linked":"2018-07-12
        11:08:32","uid":"","comment":"","summary":{"properties":{"geo":{"country":"Brazil","org":"Mandic
        S.A.","countrycode":"BR"}}}},{"iid":6,"indicator":"ns2.emidhost4.com.br","type":"domain","risk":"unknown","stamp_linked":"2018-05-17
        19:06:01","uid":"","comment":""},{"iid":7,"indicator":"ns1.emidhost4.com.br","type":"domain","risk":"unknown","stamp_linked":"2018-05-17
        19:06:01","uid":"","comment":""}],"Related URLs":[{"iid":438914,"indicator":"http:\/\/alvoportas.com.br\/phpmailer\/docs\/update\/chaseonline\/update.profile.php","type":"url","risk":"retired","stamp_linked":"2018-01-22
        08:49:30","uid":"","comment":""},{"iid":851251,"indicator":"http:\/\/alvoportas.com.br\/imagens\/slideshow\/gen_259.0.html","type":"url","risk":"retired","stamp_linked":"2018-03-15
        21:49:48","uid":"","comment":""},{"iid":955026,"indicator":"http:\/\/alvoportas.com.br\/imagens\/temp\/VSBx.html","type":"url","risk":"retired","stamp_linked":"2018-04-06
        05:41:47","uid":"","comment":""},{"iid":958394,"indicator":"http:\/\/alvoportas.com.br\/imagens\/slideshow\/gen_259.00.html","type":"url","risk":"retired","stamp_linked":"2018-04-06
        08:09:19","uid":"","comment":""},{"iid":1232731,"indicator":"http:\/\/alvoportas.com.br\/js\/vendor\/VSBs.html","type":"url","risk":"critical","stamp_linked":"2018-05-21
        05:47:57","uid":"","comment":""},{"iid":1356426,"indicator":"http:\/\/alvoportas.com.br\/modal-reveal\/VSBs.html","type":"url","risk":"critical","stamp_linked":"2018-06-01
        23:18:45","uid":"","comment":""}]}'
  recorded_at: Sat, 21 Jul 2018 01:21:51 GMT
recorded_with: VCR 4.0.0
