---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=links&key=<API_KEY>&tid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page_current":0,"results":[{"iid":1,"indicator":"afobal.cl","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":2,"indicator":"alvoportas.com.br","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":3,"indicator":"187.191.98.202","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:57:08","summary":{"properties":{"geo":{"country":"Brazil","org":"Mandic
        S.A.","countrycode":"BR"}}}},{"iid":4,"indicator":"az-armaturen.su","type":"domain","risk":"critical","stamp_linked":"2017-09-30
        07:01:48"},{"iid":5,"indicator":"66.7.198.165","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:58:58","summary":{"properties":{"geo":{"country":"United States of America","city":"Orlando","org":"HostDime.com,
        Inc.","region":"Florida","countrycode":"US"}}}},{"iid":6,"indicator":"ns2.emidhost4.com.br","type":"domain","risk":"unknown","stamp_linked":"2018-04-18
        06:59:21"},{"iid":7,"indicator":"ns1.emidhost4.com.br","type":"domain","risk":"unknown","stamp_linked":"2018-04-18
        06:59:21"},{"iid":9,"indicator":"emidhost4.com.br","type":"domain","risk":"none","stamp_linked":"2018-05-17
        19:17:09"},{"iid":11,"indicator":"187.191.98.206","type":"ip","risk":"none","stamp_linked":"2018-05-17
        19:17[...]
