---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?fid=1&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fid":1,"feed":"Zeus Bad Domains","category":"malware","organization":"abuse.ch","contact":{"name":"","phone":"","email":""},"schedule":"daily","stamp_added":"2017-09-27
        00:00:00","stamp_updated":"2017-10-29 20:19:04","stamp_pulled":"2018-07-20
        17:33:01","stamp_modified":"2018-07-20 17:33:01","indicators":{"low":2,"medium":17,"high":52,"critical":17}}'
  recorded_at: Sat, 21 Jul 2018 05:23:44 GMT
recorded_with: VCR 4.0.0
