---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=links&key=<API_KEY>&tid=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page_current":0,"results":[{"iid":3,"indicator":"187.191.98.202","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:57:08","summary":{"properties":{"geo":{"country":"Brazil","org":"Mandic
        S.A.","countrycode":"BR"}}}},{"iid":5,"indicator":"66.7.198.165","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:58:58","summary":{"properties":{"geo":{"country":"United States of America","city":"Orlando","org":"HostDime.com,
        Inc.","region":"Florida","countrycode":"US"}}}},{"iid":21,"indicator":"141.8.226.58","type":"ip","risk":"low","stamp_linked":"2018-05-08
        14:56:52","summary":{"properties":{"geo":{"country":"Switzerland","org":"Confluence
        Networks Inc","countrycode":"CH"}}}},{"iid":27,"indicator":"89.108.85.65","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:59:23","summary":{"properties":{"geo":{"country":"Russian Federation","org":"Domain
        names registrar REG.RU, Ltd","countrycode":"RU"}}}},{"iid":36,"indicator":"195.20.44.109","type":"ip","risk":"low","stamp_linked":"2018-05-08
        14:57:41","summary":{"properties":{"geo":{"country":"Netherlands","org":"Verotel
        International B.V.","countrycode":"NL"}}}},{"iid":38,"indicator":"ebesee.com","type":"domain","risk":"low","stamp_linked":"2018-05-08
        14:55:53","summary":{"properties":{"whois":{"++privacy":"1"},"geo":{"country":"Canada","city":"Toronto","region":"ON","countrycode":"CA"}}}},{"iid":39,"indicator":"212.1.215.117","type":"ip","risk":"none","stamp_linked":"2018-05-08
        14:58:11","summary":{"properties":{"geo":{"country":"United States of America","org":"Hostinger
        International Limited","countrycode":"US"}}}},{"iid":52,"indicator":"209.99.40.223","type":"ip","risk":"none","stamp_linked":"2018-01-28
        21:07:51","summary":{"properties":{"geo":{"country":"U[...]
