---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=properties&iid=2&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"banners":[{"pid":26144993,"stamp_seen":"2019-06-19 03:24:36","name":"143","value":"*
        OK [CAPABILITY IMAP4rev1 LITERAL+ SASL-IR LOGIN-REFERRALS ID ENABLE IDLE NAMESPACE
        STARTTLS AUTH=PLAIN AUTH=LOGIN] Dovecot ready.","latest":0},{"pid":27192256,"stamp_seen":"2019-06-30
        17:29:33","name":"21","value":"220---------- Welcome to Pure-FTPd [privsep]
        [TLS] ----------\n220-You are user number 1 of 50 allowed.\n220-Local time
        is now 14:29. Server port: 21.\n220-This is a private system - No anonymous
        login\n220-IPv6 connections are also welcome on this server.\n220 You will
        be disconnected after 15 minutes of inactivity.","latest":1},{"pid":27580783,"stamp_seen":"2019-06-19
        03:2[...]
