---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=properties&iid=2&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"dns":[{"pid":15302704,"stamp_seen":"2018-07-12 11:08:32","name":"A","value":"187.191.98.202","latest":1},{"pid":15302700,"stamp_seen":"2018-07-12
        11:08:32","name":"MNAME","value":"ns1.emidhost4.com.br","latest":1},{"pid":15302706,"stamp_seen":"2018-07-12
        11:08:32","name":"MX","value":"alvoportas.com.br","latest":1},{"pid":15302702,"stamp_seen":"2018-07-12
        11:08:32","name":"NS","value":"ns1.emidhost4.com.br","latest":1},{"pid":15302701,"stamp_seen":"2018-07-12
        11:08:32","name":"NS","value":"ns2.emidhost4.com.br","latest":1},{"pid":15302703,"stamp_seen":"2018-07-12
        11:08:32","name":"RNAME","value":"cloud@emid.com.br","latest":1},{"pid":15302705,"stamp_seen":"2018-07-12
        11:08:32","name":"SOA","value":"ns1.emidhost4.com.br. cloud.emid.com.br. 2015112601
        86400 7200 3600000 86400","latest":1}],"http":[{"pid":7903137,"stamp_seen":"2018-07-12
        11:08:32","name":"Client-Response-Num","value":"1","latest":1},{"pid":7903138,"stamp_seen":"2018-07-12
        11:08:32","name":"Client-Transfer-Encoding","value":"chunked","latest":1},{"pid":7903139,"stamp_seen":"2018-07-12
        11:08:32","name":"Connection","value":"close","latest":1},{"pid":8107619,"stamp_seen":"2017-11-15
        04:07:34","name":"Content-Length","value":"253","latest":0},{"pid":7903140,"stamp_seen":"2018-07-12
        11:08:32","name":"Content-Type","value":"text\/html","latest":1},{"pid":7903254,"stamp_seen":"2017-11-15
        04:07:34","name":"Content-Type","value":"text\/html;charset=ISO-8859-1","latest":0},{"pid":7903367,"stamp_seen":"2018-07-12
        11:08:32","name":"Server","value":"Apache\/2.2.31 (Unix) mod_ssl\/2.2.31 OpenSSL\/1.0.1e-fips
        mod_bwlimited\/1.4 mod_qos\/11.5 mod_perl\/2.0.8 Perl\/v5.10.1","latest":1},{"pid":8107621,"stamp_seen":"2017-11-15
        04:07:34","name":"Server","value":"Apache\/2.4.25 (Unix) OpenSSL\/1.0.1e-fips
        mod_bwlimited\/1.4","latest":0},{"pid":7903369,"stamp_seen":"2018-07-12 11:08:32","name":"X-Powered-By","value":"PHP\/5.5.30","latest":1}],"meta":[{"pid":15825139,"stamp_seen":"2018-07-12
        11:08:32","name":"author","value":"E-MID Ag\u00c3\u00aancia Digital (www.emid.com.br)","latest":1},{"pid":15665642,"stamp_seen":"2018-07-12
        11:08:32","name":"content-language","value":"pt-BR","latest":1},{"pid":15663069,"stamp_seen":"2018-07-12
        11:08:32","name":"distribution","value":"global","latest":1},{"pid":15666958,"stamp_seen":"2018-07-12
        11:08:32","name":"googlebot","value":"index, follow","latest":1},{"pid":1566297[...]
