---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/analyze.php?key=<API_KEY>&qid=11793439
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":"Analyzed domain: pulsedive.com","data":{"iid":"53929","type":"domain","indicator":"pulsedive.com","risk":"none","risk_recommended":"none","manualrisk":0,"retired":"No
        recent activity","stamp_added":"2017-10-04 01:20:55","stamp_updated":"2018-07-17
        17:06:22","stamp_seen":"2018-07-17 17:06:22","stamp_probed":"2018-07-16 06:54:01","stamp_retired":null,"recent":0,"redirects":{"to":[{"iid":649248,"indicator":"https:\/\/pulsedive.com"}]},"riskfactors":[{"rfid":3,"description":"all
        linked indicators return PTR records","risk":"none"},{"rfid":44,"description":"registration
        details hidden","risk":"unknown"}],"attributes":{"port":["443"],"protocol":["HTTPS"],"technology":["Apache","Clipboard.js","Font
        Awesome","Google Font API","jQuery","Stripe"]},"domain":null,"domainiid":null,"properties":{"cookies":[{"pid":16623038,"stamp_seen":"2018-07-16
        06:54:01","name":"PHPSESSID","value":"797ag687m70663104uu3gp8q27","latest":0},{"pid":15756491,"stamp_seen":"2018-07-08
        09:22:38","name":"PHPSESSID","value":"v3prg4b41fq0ir9c23ggst3ga4","latest":0},{"name":"PHPSESSID","value":"0snt068gkgmtdhqshkb9uit6k5","latest":1,"stamp_seen":"2018-07-21
        5:17:55"}],"dns":[{"pid":14634446,"stamp_seen":"2018-07-21 5:17:55","name":"A","value":"206.251.255.36","latest":1},{"pid":14634441,"stamp_seen":"2018-07-21
        5:17:55","name":"MNAME","value":"ns-cloud-d1.googledomains.com","latest":1},{"pid":14634451,"stamp_seen":"2018-07-21
        5:17:55","name":"MX","value":"alt2.gmr-smtp-in.l.google.com","latest":1},{"pid":14634448,"stamp_seen":"2018-07-21
        5:17:55","name":"MX","value":"alt4.gmr-smtp-in.l.google.com","latest":1},{"pid":14634450,"stamp_seen":"20[...]
