---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?fid=1&get=links&key=<API_KEY>&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page_current":0,"results":[{"iid":1,"indicator":"afobal.cl","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":2,"indicator":"alvoportas.com.br","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":4,"indicator":"az-armaturen.su","type":"domain","risk":"critical","stamp_linked":"2017-09-30
        07:01:48"},{"iid":12,"indicator":"bestdove.in.ua","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":13,"indicator":"blogerjijer.pw","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":25,"indicator":"bright.su","type":"domain","risk":"critical","stamp_linked":"2018-05-08
        14:55:46"},{"iid":26,"indicator":"citricbenz.website","type":"domain","risk":"critical","stamp_linked":"2017-11-30
        15:35:10"},{"iid":29,"indicator":"danislenefc.info","type":"domain","risk":"high","stamp_linked":"2017-11-30
        15:35:11","summary":{"properties":{"geo":{"country":"Barbados","region":"ST.
        MICHAEL","countrycode":"BB"}}}},{"iid":35,"indicator":"dau43vt5wtrd.tk","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:46"},{"iid":37,"indicator":"dzitech.net","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:52","summary":{"properties":{"whois":{"++privacy":"true"},"geo":{"country":"Canada","city":"Toronto","region":"ON","countrycode":"CA"}}}},{"iid":38,"indicator":"ebesee.com","type":"domain","risk":"high","stamp_linked":"2018-05-08
        14:55:53"},{"iid":47,"indicator":"gmailsecurityteam.com","type":"domain","risk":"high","stamp_linked":"2017-12-27
        06:55:55","summary":{"properties":{"geo":{"country":"United States of America","city":"Mountain
        View","region":"California","countrycode":"US"}}}},{"iid":49,"indicator":"goodbytoname.com","type":"domain","risk":"medium","st[...]
