---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?fid=1&get=links&key=<API_KEY>&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page_current":0,"results":[{"iid":38,"indicator":"ebesee.com","type":"domain","risk":"low","stamp_linked":"2018-05-08
        14:55:53","summary":{"properties":{"whois":{"++privacy":"1"},"geo":{"country":"Canada","city":"Toronto","region":"ON","countrycode":"CA"}}}},{"iid":274,"indicator":"www.antibasic.ga","type":"domain","risk":"critical","stamp_linked":"2018-05-08
        14:56:23","summary":{}},{"iid":1305184,"indicator":"front.postmaster.services","type":"domain","risk":"medium","stamp_linked":"2018-05-29
        09:28:06","summary":{"properties":{"geo":{"country":"United States of America","city":"Los
        Angeles","region":"CA","countrycode":"US"}}}},{"iid":3384969,"indicator":"brightqain.com","type":"domain","risk":"high","stamp_linked":"2018-11-07
        22:38:36","summary":{"properties":{"geo":{"country":"United States of America","city":"Cary","region":"NY","countrycode":"US"}}}}]}'
  recorded_at: Sun, 10 Nov 2019 09:09:32 GMT
recorded_with: VCR 5.0.0
