---
http_interactions:
- request:
    method: get
    uri: https://pulsedive.com/api/info.php?get=links&iid=2&key=<API_KEY>&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Active DNS":[{"iid":3,"indicator":"187.191.98.202","type":"ip","risk":"none","stamp_linked":"2019-06-22
        10:46:47","summary":{"properties":{"geo":{"country":"Brazil","org":"Mandic
        S.A.","countrycode":"BR"}}}},{"iid":6,"indicator":"ns2.emidhost4.com.br","type":"domain","risk":"retired","stamp_linked":"2018-12-03
        16:49:14","summary":[]},{"iid":7,"indicator":"ns1.emidhost4.com.br","type":"domain","risk":"retired","stamp_linked":"2018-12-03
        16:49:14","summary":[]},{"iid":5994387,"indicator":"177.70.125.89","type":"ip","risk":"retired","stamp_linked":"2019-07-03
        06:33:53","summary":{"properties":{"geo":{"country":"Brazil","org":"Mandic
        S.A.","countrycode":"BR"}}}}][...]
